.Pagination {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.Pagination * {
  min-width: 20px;
  height: 20px;
  display: block;
  padding: 0;
  text-align: center;
}

.Pagination button {
  padding: 1px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.Pagination button:hover {
  color: inherit;
  background-color: #e1e1e1;
}

.Pagination .active,
.Pagination button:active {
  color: #ffffff;
  background-color: #0087e9;
}
