.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px 20px 20px 10px;
}

.Item-price {
  margin-right: 20px;
  text-wrap: nowrap;
}

.Item-count {
  margin-left: 62px;
  margin-right: 24px;
  font-size: 18px;
  text-wrap: nowrap;
  font-size: inherit;
}
